<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked col-md-3" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content col-md-9">
    <!-- Profile -->
    <div role="tabpanel" class="tab-pane active" id="profile">
      <!-- Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Public profile</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource, url: users_update_profile_path, html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
              <div class="col-md-3">
                <%= image_tag(current_user.avatar, size: '150') %>
                <% unless current_user.avatar_file_name.nil?  %>
                  <%= link_to 'Delete avatar', destroy_user_avatar_path(resource_name), :method => :delete %>
                <% end  %>
              </div>
              <div class="col-md-9">
                <%= f.file_field :avatar %>
              </div>
            </div>
            <br>
            <%= f.text_field :name,
                             placeholder: 'Name',
                             autofocus: true %>

            <%= f.text_field :surname,
                             placeholder: 'Surname',
                             autofocus: true %>
            <%= f.submit 'Update' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Settings -->
    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Account</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource) do |f| %>
            <%= devise_error_messages! %>
            <%= f.text_field :username,
                             disabled: true %>
            <%= f.email_field :email,
                              disabled: true %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Security -->
    <div role="tabpanel" class="tab-pane" id="security">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Password settings</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource, url: users_update_password_path, html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
              <%= f.password_field :password,
                                   help: User.password_constraints,
                                   autocomplete: 'off' %>

              <%= f.password_field :password_confirmation,
                                   autocomplete: 'off' %>

              <%= f.password_field :current_password,
                                   help: '(we need your current password to confirm your changes)',
                                   autocomplete: 'off' %>

              <%= f.submit 'Change password' %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Cancel my account</h3>
        </div>
        <div class="panel-body">
          <p>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>

</div>