<h2>Sign up</h2>

<%= bootstrap_form_for(@user, url: user_registration_path) do |f| %>
  <%= devise_error_messages! %>
    <%= f.text_field :name,
                     placeholder: 'Name',
                     hide_label: true,
                     autofocus: true %>
    <%= f.text_field :surname,
                     placeholder: 'Surname',
                     hide_label: true,
                     autofocus: true %>

    <%= f.text_field :username,
                     placeholder: 'Username',
                     hide_label: true,
                     autofocus: true %>
    <%= f.email_field :email,
                      placeholder: 'Email',
                      hide_label: true,
                      autofocus: true %>
    <%= f.password_field :password,
                         placeholder: 'Password',
                         hide_label: true,
                         help: "Must be at least #{User.min_password_length} characters long",
                         autocomplete: 'off' %>
    <%= f.password_field :password_confirmation,
                         placeholder: 'Confirm password',
                         hide_label: true,
                         autocomplete: 'off' %>
    <%= f.primary 'Sign up' %>
<% end %>
<br>
<%= render 'devise/shared/links' %>
