<% provide :title, @user.username %>

<div class="row">
  <div class="col-md-3 text-center" id="profile-left">
    <img src="<%= @user.avatar %>" class="profile-avatar" >
    <h3><%= @user.full_name %></h3>
    <h4>@<%= @user.username %></h4>
    <hr>
    <div class="row center-block" style="width:200px;">
      <div class="col-md-6 col-xs-6">
        <a href="#" class="followers"><%= @user.followers.count %></a>
        <p class="help-block">Followers</p>
      </div>
      <div class="col-md-6 col-xs-6">
        <a href="#"><%= @user.following.count %></a>
        <p class="help-block">Following</p>
      </div>
    </div>
    <hr>
    <%= render partial: 'partials/follow_button', locals: {user: @user} %>
  </div>

  <div class="col-md-9">
    Profile
  </div>
</div>
