<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.text_field :login,
                   placeholder: 'Username or email',
                   hide_label: true,
                   autofocus: true %>
  <%= f.password_field   :password,
                         placeholder: 'Password',
                         hide_label: true,
                         autocomplete: 'off' %>
  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
  <% end -%>
  <%= f.primary 'Log in' %>
<% end %>
<br>
<%= render 'devise/shared/links' %>
